
header {
    .mainHeader {
        background-color: #fff;
        padding: {
            top: 1rem;
            bottom: 1rem;
        }
        .logo {
            min-height: 40px;
        }
        .search {
            position: relative;
            .btn {
                position: absolute;
                left: 0;
                top: 0;
            }
            input {
                background-color: rgb(212,212,212);
            }
        }
        .link {
            color: #6f6f6f;
        }
        .userModal {
            display: inline-block;
            margin-right: 2rem;
            color: #6f6f6f;
            cursor: pointer;
            position: relative;
            .userBox {
                display: none;
                position: absolute;
                width: 180px;
                border-top: 5px solid red;
                background-color: #fff;
                text-align: center;
                padding: 10px 15px;
                box-shadow: 0 5px 10px rgba(#000, 0.2);
                margin-top: 7px;
                .btn {
                    display: block;
                    margin-bottom: 15px;
                }
            }
        }
        .pipe {
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 25px;
                width: 1px;
                background-color: #000;
                left: 0;
                top: 0;
            }
        }
        .cartBtn {
            .num {
                display: inline-block;
                width: 20px;
                padding: 2px 0;
                text-align: center;
                background: #17a2b8;
                color: #fff;
                border-radius: 50%;
                line-height: 1;
            }
        }
    }
    .menu {
        font-size: .857rem;
        font-weight: 400;
        background-color: #616161;
        border-bottom: 2px solid #000;
        > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            padding: 0 10px;
            position: relative;
            > li {
                display: block;
                flex-grow: 1;
                text-align: center;
                position: static;
                &:last-child {
                    a {
                       background-color: #4f4f4f;
                    }
                }
                > a {
                    display: block;
                    padding: 8px 0;
                    color: #fff;
                    position: relative;
                    transition: all 500ms;
                    &:hover {
                        box-shadow: 0 3px 10px rgba(#000, 0.3);
                        &::after {
                            transform: scaleX(1);
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: -2px;
                        width: 100%;
                        height: 2px;
                        background-color: red;
                        transform: scaleX(0);
                        transition: all 500ms;
                    }
                }
                &:hover {
                    .megaMenu {
                        visibility: visible;
                        transform: rotateX(0);
                    }
                }
                .megaMenu {
                    position: absolute;
                    background: #fff;
                    box-shadow: 0 5px 10px rgba(#000, 0.2);
                    width: 90%;
                    right: 10px;
                    top: 38px;
                    padding: {
                        top: 1rem;
                        right: 1rem;
                        bottom: 1rem;
                    }
                    text-align: right;
                    visibility: hidden;
                    transform: rotateX(90deg);
                    transition: all 500ms;
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li {
                            display: block;
                            a {
                                display: block;
                                margin-bottom: 5px;
                                color: #1ca2bd;
                                &::before {
                                    content: "\f104";
                                    font-weight: 900;
                                    font-family: "Font Awesome 5 Free";
                                }
                            }
                            ul {
                                li {
                                    a {
                                        color: #6f6f6f;
                                        margin-right: 7px;
                                        &:before {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}