@import 'slick';
@import 'slick-theme';
body {
    direction: rtl;
    text-align: right;
    font-family: "iranyekan";
    color: #515151;
    background: #f5f5f5;
}
.fa {
    vertical-align: middle;
}
a {
    &:hover {
        text-decoration: none;
    }
    text-decoration: none;
}
@import 'header';
@import 'home';